*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: center;
    height: 50px;
    
}
.left-section{
    
    width: 200px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.middle-section{
    
    flex: 1;
    display: flex;
    
    align-items: center;
}

.hamburger{
    width: 20px;
    margin-left: 6px;
}
.youtube{
    width: 80px;
    margin-left: 30px;
}
.search-bar{
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    margin-left: 10px;
    font-size: 16px;
    max-width: 600px;
    flex: 1;
}
.search-bar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 10px;
}
.button1{
    
    height:42px;
    width: 50px;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color:  rgb(170, 170, 170);
    margin-left: -1px;
}
.search{
    width: 25px;
    margin-top: 6px;
}
.button2{
    margin-left: 6px;
    width: 40px;
    border: none;
    border-radius: 20px;

}
.voice{
    width: 25px;
    height: 37px;
    margin-top: 4px;
    
}
.upload{
    width: 30px;
}
.app{
    width: 30px;
}
.notification{
    width: 30px;
}
.profile{
    width: 40px;
    border-radius: 20px;
}
.right-section{
    
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}